﻿@using Microsoft.AspNetCore.Identity
@model IEnumerable<Application>
@inject UserManager<IdentityUser> UserManager
@{
    Layout = null;
}

<div class="col-xl-8">
    <div class="recent_job_apply">
        <h4 class="title">Latest Applications</h4>
        @foreach (var appForm in Model)
        {
            var candidate = UserManager.FindByIdAsync(@appForm.CandidateId).Result;
            <div class="candidate_list_view style3 mb50">
                <div class="thumb">
                    <img class="rounded-circle" src="@Url.Action("GetMedia", "Candidate", new {id = candidate.Id})" alt="@(appForm.FullName).jpg" width="80", height="80">
            
                </div>
                <div class="content">
                    <h4 class="title">@appForm.FullName</h4>
                    <p>@appForm.Job.Title </p>
                  
                </div>
                <ul class="freelancer_place mt25 float-right fn-xsd tac-xsd">
                   
                    <li class="list-inline-item"><a asp-controller="Employer" asp-action="GetAppDoc" asp-route-id="@appForm.Id"><button class="btn btn-thm">View CV</button></a></li>
                    <li class="list-inline-item"><a asp-controller="Employer" asp-action="ApproveApplication" asp-route-id="@appForm.Id"><button class="btn btn-thm">Hire</button></a></li>
                </ul>
            </div>
        }
    </div>
</div>