﻿@using Microsoft.AspNetCore.Identity
@using System.IO
@using Recruitement_App___BEZAO_Test.Interfaces
@inject ICandidateRepository Repository

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
@{
    var user = UserManager.GetUserAsync(User).Result;
    var imgUrl = "";
    if (User.IsInRole("Candidate"))
    {
        imgUrl = Repository.GetCandidate(user.Id).PhotoId != null ? Url.Action("GetMedia", "Candidate", new { id = user.Id }) : "/lib/app/images/team/e1.png";
    }
}
<form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"></form>
        <section class="our-dashbord dashbord">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-4 col-xl-3 dn-smd">
                        <div class="user_profile">
                            <div class="media">
                                <img src="@imgUrl" alt="@(User.Identity.Name).jpg" width="65" height="65" class="align-self-start mr-3 rounded-circle">
                                <div class="media-body">
                                    <h5 class="mt-0">Hi, @user.UserName</h5>
                                    <p>@user.PhoneNumber</p>
                                </div>
                            </div>
                        </div>
                        <div class="dashbord_nav_list">
                            <ul>
                                <li class="@ViewBag.Active"><a asp-action="Index" asp-controller="Candidate"><span class="flaticon-dashboard"></span> Dashboard</a></li>
                                <li class="@ViewBag.Profile"><a asp-action="Profile" asp-controller="Candidate"><span class="flaticon-profile"></span> Profile</a></li>

                                <li class="@ViewBag.AppJob" ><a asp-action="AppliedJob" asp-controller="Candidate"><span class="flaticon-paper-plane"></span> Applied Jobs</a></li>


                                <li><a asp-area="Identity"  asp-page="/Account/Manage/ChangePassword"><span class="flaticon-locked"></span> Change Password</a></li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="flaticon-logout"></span> Logout</a></li>
                                <li><a href="#"><span class="flaticon-rubbish-bin"></span> Delete Profile</a></li>
                            </ul>
                        </div>
                        <div class="skill_sidebar_widget">
                            <h4>Profile Percentage <span class="float-right font-weight-bold">85%</span></h4>
                            <p>Put value for "Cover Image" field to increase your Percentage up to "15%"</p>
                            <ul class="skills">
                                <li class="progressbar3" data-width="85" data-target="85"></li>
                            </ul>
                        </div>
                    </div>
                    @RenderBody()

                </div>
            </div>
        </section>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
            <script>
                // extend jquery range validator to work for required checkboxes
                var defaultRangeValidator = $.validator.methods.range;
                $.validator.methods.range = function (value, element, param) {
                    if (element.type === 'checkbox') {
                        // if it's a checkbox return true if it is checked
                        return element.checked;
                    } else {
                        // otherwise run the default validation function
                        return defaultRangeValidator.call(this, value, element, param);
                    }
                }
            </script>
        }
