﻿@using Microsoft.AspNetCore.Identity
@using Recruitement_App___BEZAO_Test.Interfaces
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IEmployerRepository Repository
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
@{
    var user = UserManager.GetUserAsync(User).Result;
    var imgUrl = "";
    if (User.IsInRole("Employer"))
    {
        imgUrl = Repository.GetEmployer(user.Id).Logo != null ? Url.Action("GetMedia", "Employer", new { id = user.Id }) : "/lib/app/images/team/e1.png";
    }
}
<form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"></form>
<section class="our-dashbord dashbord">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-4 col-xl-3 dn-smd">
                <div class="user_profile">
                    <div class="media">
                        <img src="@imgUrl" alt="@(User.Identity.Name).jpg" width="65" height="65" class="align-self-start mr-3 rounded-circle">
                        <div class="media-body">
                            <h5 class="mt-0">Hi, @user.UserName</h5>
                            <p>@user.PhoneNumber</p>
                        </div>
                    </div>
                </div>
                <div class="dashbord_nav_list">
                    <ul>
                        <li class="@ViewBag.Active"><a asp-action="Index" asp-controller="Employer"><span class="flaticon-dashboard"></span> Dashboard</a></li>
                        <li class="@ViewBag.Profile"><a asp-action="Profile" asp-controller="Employer"><span class="flaticon-profile"></span> Profile</a></li>
                        <li><a  asp-action="PostJob" asp-controller="Employer" ><span class="flaticon-resume"></span> Post a New Job</a></li>
                        <li><a asp-action="ManageJobs" asp-controller="Employer"><span class="flaticon-paper-plane"></span> Manage Jobs</a></li>
                        <li><a asp-action="ShortListed" asp-controller="Employer"><span class="flaticon-analysis"></span> Shortlisted Candidates</a></li>
                        <li><a asp-action="Applications" asp-controller="Employer"><span class="flaticon-analysis"></span> Applications</a></li>
                        <li><a asp-area="Identity"  asp-page="/Account/Manage/ChangePassword"><span class="flaticon-locked"></span> Change Password</a></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="flaticon-logout"></span> Logout</a></li>
                        <li><a href="#"><span class="flaticon-rubbish-bin"></span> Delete Profile</a></li>
                    </ul>
                </div>
            </div>
            @RenderBody()

        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
   
}
