﻿@using Microsoft.AspNetCore.Identity
@model IEnumerable<Application>
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Applications";
    Layout = "~/Views/Shared/_EmpAdminLayout.cshtml";
    var title = ViewBag.Approved == true ? "Shortlisted Candidates" : "New Applications";

}

    <div class="col-sm-12 col-lg-8 col-xl-9">
        <div class="row">
            <div class="col-lg-12">
                 @if (TempData["appMsg"] != null)
                  {
                      <div class="ui_kit_message_box">
                          <div class="alert alert-info alert-dismissible fade show" role="alert">
                              @TempData["appMsg"]
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                      </div>
                  }
                <h4 class="fz20">@title</h4>
            </div>
            @foreach (var appForm in Model)
            {
                var candidate = UserManager.FindByIdAsync(@appForm.CandidateId).Result;
                
                <div class="col-lg-12">
                    <div class="candidate_list_view style2">
                        <div class="thumb">
                            <img class="rounded-circle" src="@Url.Action("GetMedia", "Candidate", new {id = candidate.Id})" alt="@(appForm.FullName).jpg" width="103" height="103">

                        </div>
                        <div class="content">
                            <h4 class="title">@appForm.FullName </h4>
                            <p>Applied for <span class="text-thm2">@appForm.Job.Title</span></p>

                            <ul class="address_list">
                                <li class="list-inline-item"><a href="#"><span class="flaticon-mail"></span> @candidate.Email</a></li>
                                <li class="list-inline-item"><a href="#"><span class="flaticon-telephone"></span>  @appForm.PhoneNumber</a></li>
                            </ul>
                        </div>
                        <ul class="view_edit_delete_list mt25 float-right fn-xl">
                            <li class="list-inline-item"><a asp-controller="Employer" asp-action="GetAppDoc" asp-route-id="@appForm.Id" data-toggle="tooltip" data-placement="top" title="Download CV"><span class="flaticon-resume"></span> Download CV</a></li>
                            @if (ViewBag.Approved == null)
                            {

                                <li class="list-inline-item"><a asp-controller="Employer" asp-action="ApproveApplication" asp-route-id="@appForm.Id" data-toggle="tooltip" data-placement="top" title="Send Message"><span class="flaticon-open-envelope-with-letter"></span> Accept</a></li>
                                <li class="list-inline-item"><a asp-controller="Employer" asp-action="RejectApplication" asp-route-id="@appForm.Id" data-toggle="tooltip" data-placement="top" title="Reject"><span class="flaticon-rubbish-bin"></span></a></li>

                            }
                            else
                            {
                                <li class="list-inline-item"><a asp-controller="Candidate" asp-action="Detail" asp-route-id="@appForm.CandidateId" data-toggle="tooltip" data-placement="top" title="Send Message"><span class="flaticon-open-envelope-with-letter"></span> View</a></li>

                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
