﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EmpAdminLayout.cshtml";
}

<div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="mb30">Dashboard</h4>
        </div>
        @await Component.InvokeAsync("EmpAdminCounter")

        @await Component.InvokeAsync("EmpAdminApps")
        <div class="col-xl-4">
            <div class="recent_job_activity">
                <h4 class="title">Activity</h4>
                <div class="grid">
                    <div class="color_bg float-left"></div>
                    <ul>
                        <li><span>Dobrick </span>published an article</li>
                        <li>2 hours ago</li>
                    </ul>
                </div>
                <div class="grid">
                    <div class="color_bg two float-left"></div>
                    <ul>
                        <li><span>Stella </span>created an event</li>
                        <li>2 hours ago</li>
                    </ul>
                </div>
                <div class="grid">
                    <div class="color_bg three float-left"></div>
                    <ul>
                        <li><span>Peter </span>submitted the reports</li>
                        <li>2 hours ago</li>
                    </ul>
                </div>
                <div class="grid">
                    <div class="color_bg four float-left"></div>
                    <ul>
                        <li><span>Nateila </span>updated the docs</li>
                        <li>2 hours ago</li>
                    </ul>
                </div>
                <div class="grid">
                    <div class="color_bg float-left"></div>
                    <ul>
                        <li><span>Dobrick </span>published an article</li>
                        <li>2 hours ago</li>
                    </ul>
                </div>
                <div class="grid mb0">
                    <div class="color_bg two float-left"></div>
                    <ul>
                        <li><span>Stella </span>created an event</li>
                        <li>2 hours ago</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

