﻿@model Recruitement_App___BEZAO_Test.Models.ViewModels.JobViewModel
@{
	var title = Model.Id == null ? "Post New Job" : $"Edit {Model.Title}";

	ViewData["Title"] = title;
	Layout = "~/Views/Shared/_EmpAdminLayout.cshtml";
}

	<div class="col-sm-12 col-lg-8 col-xl-9">
		@if (TempData["jobMsg"] != null)
		{
			<div class="ui_kit_message_box">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					@TempData["jobMsg"]
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		}
		<div class="my_profile_form_area employer_profile">
			<form method="post" asp-action="Save" asp-controller="Employer">

				<div class="row">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="col-lg-12">
						<h4 class="fz20 mb20">@title</h4>
					</div>

					<div class="col-lg-12">
						<div class="my_profile_thumb_edit"></div>
					</div>

					<div class="col-md-6 col-lg-6">
						<div class="my_profile_input form-group">
							<label asp-for="Title"></label>
							<input asp-for="Title" class="form-control">
							<span asp-validation-for="Title" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-3 col-lg-3">
						<div class="my_profile_input form-group">
							<label asp-for="JobTypeId">JobType</label><br>
							@Html.DropDownListFor(m => m.JobTypeId, new SelectList(Model.JobTypes, "Id", "Type"), "Select Type", new { @class = "form-control" })

							

							<span asp-validation-for="JobTypeId" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-3 col-lg-3">
						<div class="my_profile_input form-group">
							<label asp-for="Deadline"></label>
							<input asp-for="Deadline" class="form-control">
						</div>
					</div>
					
				   
					<div class="col-md-3 col-lg-3">
						<div class="my_profile_input form-group">
							<label asp-for="MinPay">Min Salary</label>
							<input asp-for="MinPay" class="form-control">
							<span asp-validation-for="MinPay" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-3 col-lg-3">
						<div class="my_profile_input form-group">
							<label asp-for="MaxPay">Max Salary</label>
							<input asp-for="MaxPay" class="form-control">
							<span asp-validation-for="MaxPay" class="text-danger"></span>
						</div>
					   
					</div>
					
				   
					<div class="col-md-3 col-lg-3">
						<div class="my_profile_input form-group">
							<label asp-for="MinYearExperience">Min Experience</label>
							<input asp-for="MinYearExperience" class="form-control">
							<span asp-validation-for="MinYearExperience" class="text-danger"></span>
						</div>
						
					</div>
					<div class="col-md-3 col-lg-3">
						<div class="my_profile_input form-group">
							<label asp-for="MaxYearExperience">Max Experience</label>
							<input asp-for="MaxYearExperience" class="form-control">
							<span asp-validation-for="MaxYearExperience" class="text-danger"></span>
						</div>
					   
					</div>
					


					<div class="col-lg-12">
						<div class="my_resume_textarea mt20">
							<div class="form-group">
								<label asp-for="Description"></label>
								<textarea class="form-control" asp-for="Description" rows="9">
										</textarea>
								<span asp-validation-for="Description" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="my_resume_textarea mt20">
							<div class="form-group">
								<label asp-for="Responsibility"></label>
								<textarea class="form-control" asp-for="Responsibility" rows="9">
										</textarea>
								<span asp-validation-for="Responsibility" class="text-danger"></span>
							</div>
						</div>
					</div><div class="col-lg-12">
						<div class="my_resume_textarea mt20">
							<div class="form-group">
								<label asp-for="Background"></label>
								<textarea class="form-control" asp-for="Background" rows="9">
										</textarea>
								<span asp-validation-for="Background" class="text-danger"></span>
							</div>
						</div>
					</div>
				
					<div class="col-lg-12">
						<h4 class="fz18 mb20">Contact Information</h4>
					</div>
					<div class="col-md-4 col-lg-4">
						<div class="my_profile_select_box form-group">
							<label asp-for="Address.City">City</label><br>
							<input asp-for="Address.City" class="form-control">
							<span asp-validation-for="Address.City" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-4 col-lg-4">
						<div class="my_profile_select_box form-group">
							<label asp-for="Address.State">State</label><br>
							<input asp-for="Address.State" class="form-control">
							<span asp-validation-for="Address.State" class="text-danger"></span>

						</div>
					</div>

					<div class="col-md-4 col-lg-4">
						<div class="my_profile_select_box form-group">
							<label asp-for="Address.ZipCode">ZipCode</label><br>
							<input asp-for="Address.ZipCode" class="form-control">
							<span asp-validation-for="Address.ZipCode" class="text-danger"></span>
						</div>
					</div>
				   
					
				  
					<div class="col-lg-12">
						<div class="my_resume_textarea mt20">
							<div class="form-group">
								<label asp-for="Address.Street">Full Address</label>
								<textarea asp-for="Address.Street" class="form-control" rows="3"></textarea>
								<span asp-validation-for="Address.Street" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="my_profile_select_box form-group">
							<div class="form-group">
								<label asp-for="Status"></label><br>

								<select class="form-control" asp-for="Status">
									<option value="@Status.Active">Active</option>
									<option value="@Status.Pending">Pending</option>
									<option value="@Status.BlackListed">BlackListed</option>

								</select>
								<span asp-validation-for="Status" class="text-danger"></span>

							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="my_profile_select_box form-group">
							<div class="form-group form-check">
								<input class="form-check-input" asp-for="Feature">
								<label class="form-check-label" asp-for="Feature"></label>
							</div>
						</div>
					</div>
				   
					<input asp-for="EmployerId">
					<input asp-for="Id" >
					
					<div class="col-lg-4">
						<div class="my_profile_input">
							<input type="submit" class="btn btn-lg btn-thm" value="Save Changes" />
						</div>
					</div>


				</div>
			</form>
		</div>
	</div>

