﻿@model IEnumerable<Job>
@{
    Layout = null;
}

<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
    <div class="ff_one">
        <div class="icon"><span class="flaticon-paper-plane"></span></div>
        <div class="detais">
            <div class="timer">@Model.Count()</div>
            <p>Posted</p>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
    <div class="ff_one style2">
        <div class="icon"><span class="flaticon-favorites"></span></div>
        <div class="detais">
            <div class="timer">@Model.Sum(j => j.Applications.Count)</div>
            <p>Applications</p>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
    <div class="ff_one style3">
        <div class="icon"><span class="flaticon-alarm"></span></div>
        <div class="detais">
            <div class="timer">@Model.Sum(j => j.Applications.Count(a => a.Approve == true))</div>
            <p>Shortlisted</p>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
    <div class="ff_one style4">
        <div class="icon"><span class="flaticon-tag"></span></div>
        <div class="detais">
            <div class="timer">@Model.Sum(j => j.Applications.Count(a => a.Approve == false))</div>
            <p>Rejected</p>
        </div>
    </div>
</div>