﻿
@using Recruitement_App___BEZAO_Test.Models
@model Recruitement_App___BEZAO_Test.Areas.Identity.Pages.Account.RegisterModel

    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" asp-page-handler="candidate" >

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <input asp-for="Input.FirstName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.FirstName)">
            <span asp-validation-for="Input.FirstName" class="text-danger"></span> 
        </div>

        <div class="form-group">
            <input asp-for="Input.LastName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.LastName)">
            <span asp-validation-for="Input.LastName" class="text-danger"></span> 
        </div>

        <div class="form-group">
            <input asp-for="Input.UserName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.UserName)">
            <span asp-validation-for="Input.UserName" class="text-danger"></span> 
        </div>
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Email)">
            <span asp-validation-for="Input.Email" class="text-danger"></span> 
        </div>
        <div class="form-group">
            <input asp-for="Input.PhoneNumber" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.PhoneNumber)">
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span> 
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Input.GenderId, new SelectList(Model.Input.Genders , "Id", "Name"), "Select Gender", new { @class = "form-control" })


            <span asp-validation-for="Input.GenderId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Input.Password" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Password)">
            <span asp-validation-for="Input.Password" class="text-danger"></span> 
        </div>

        <div class="form-group">
            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.ConfirmPassword)">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span> 
        </div>

        <div class="form-group form-check">
            <input  class="form-check-input" asp-for="Input.TermsConditions" >
            <label class="form-check-label" asp-for="Input.TermsConditions">By Registering You Confirm That You Accept <a class="text-thm" href="page-terms-and-policies.html">Terms & Conditions</a> And <a class="text-thm" href="page-terms-and-policies.html">Privacy Policy</a></label>
            <span asp-validation-for="Input.TermsConditions" class="text-danger"></span> 
        </div>
        <button type="submit" class="btn btn-log btn-block btn-dark">Register</button>

        <br />
    </form>