﻿@model Recruitement_App___BEZAO_Test.Models.ViewModels.CountersViewModel
@{
    Layout = null;
}

    <section class="footer_top_area home6">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="funfact_one home6">
                        <div class="icon"><span class="flaticon-work"></span></div>
                        <div class="timer">@Model.Jobs</div>
                        <p>Jobs Added</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="funfact_one home6">
                        <div class="icon"><span class="flaticon-certified"></span></div>
                        <div class="timer">@Model.Applications</div>
                        <p>Applications</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="funfact_one home6">
                        <div class="icon"><span class="flaticon-company"></span></div>
                        <div class="timer">@Model.Companies</div>
                        <p>Companies</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="funfact_one home6">
                        <div class="icon"><span class="flaticon-man"></span></div>
                        <div class="timer">@Model.Candidates</div>
                        <p>Candidates</p>
                    </div>
                </div>
            </div>
        </div>
    </section>