﻿@model IEnumerable<Job>
@{
    ViewData["Title"] = "JobOffers";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<!-- Our Candidate List -->
<section class="our-faq bgc-fa mt50">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-3 dn-smd">
                <div class="faq_search_widget mb30">
                    <h4 class="fz20 mb15">Search Keywords</h4>
                    <div class="input-group mb-3">
                        <form class="form-inline" asp-action="JobOffers" method="get">
                        <input type="search" name="query" class="form-control" placeholder="Find Jobs" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><span class="flaticon-search"></span></button>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="faq_search_widget mb30">
                    <h4 class="fz20 mb15">Location</h4>
                    <div class="input-group mb-3">
                        <form class="form-inline" asp-action="JobOffers" method="get">
                        <input type="search"  name="city" class="form-control" placeholder="Find Jobs in a city" aria-describedby="button-addon3">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon3"><span class="flaticon-location-pin"></span></button>
                        </div>
                        </form>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-9 col-xl-9">
                <div class="row">
                    <div class="col-lg-12 mb30">
                        @if (ViewBag.Category != null)
                        {
                            <h4 class="fz20 mb15">Your Selected</h4>


                            <div class="tags-bar text-center">
                                @ViewBag.Category  Industry
                            </div>
                        }
                        else if (ViewBag.Query != null || ViewBag.City != null)
                        {
                            <h4 class="fz20 mb15">Search Results For</h4>


                            <div class="tags-bar text-center">
                                @ViewBag.Query  @ViewBag.City
                            </div>
                        }
                        else if (ViewBag.Query != null && ViewBag.City != null)
                        {
                            <h4 class="fz20 mb15">Search Results For</h4>


                            <div class="tags-bar text-center">
                                @ViewBag.Query , @ViewBag.City
                            </div>

                        }
                    </div>
                </div>
                @if (ViewBag.Query != null || ViewBag.Category != null || ViewBag.City != null)
                {
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="candidate_job_alart_btn">
                                <h4 class="fz20 mb15">@($"{Model.Count()} Result(s) Found")</h4>
                           
                            </div>
                        </div>
                   
                       
                    </div>
                }
               
                @foreach (var job in Model)
                {
                    <div class="col-lg-12 mt30">
                        <div class="fj_post style2 jlv5">
                            <div class="details">
                                <h5 class="job_chedule text-thm">@job.Type.Type</h5>
                                <div class="thumb fn-smd">
                                    <img class="img-fluid" src="@Url.Action("GetMedia", "Employer", new {id = job.Employer.EmployerId})" alt="(@job.Title).jpg" width="120" height="122" asp-append-version="true">
                                </div>
                                <h4>@job.Title</h4>
                                <p>Posted @job.Audit.CreatedAt.ToString("D") by <a class="text-thm" href="#">@job.Employer.CompanyName</a></p>
                                <ul class="featurej_post">
                                    <li class="list-inline-item"><span class="flaticon-location-pin"></span> <a href="#">@job.Address.Street</a></li>
                                    <li class="list-inline-item"><span class="flaticon-price pl20"></span> <a href="#">@job.MinPay.ToString("C") @(job.MaxPay == 0 ? "" : $"- {job.MaxPay:C}")</a></li>
                                </ul>
                            </div>
                            <ul class="pjlv5">
                                <li class="list-inline-item">
                                    <a class="favorit" href="#"><span class="flaticon-favorites"></span></a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn btn-transparent" asp-controller="Home" asp-action="JobOffer" asp-route-id="@job.Id">More Info</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    
</section>

