﻿@using Microsoft.AspNetCore.Identity
@model Job
@inject UserManager<IdentityUser> UserManager

    @{
        ViewData["Title"] = "JobOffer";
        Layout = "~/Views/Shared/_AppLayout.cshtml";
        var user = UserManager.FindByIdAsync(Model.EmployerId).Result;
    }

    <!--Job Info Details-->
    <section class="bgc-fa pb30 mt70 mbt45">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-8">
                    <div class="candidate_personal_info style2">
                        <div class="details">
                            <span class="text-thm2 fwb">@Model.Type.Type</span>
                            <h3>@Model.Title</h3>
                            <p>@Model.Audit.CreatedAt.ToString("D") by <a href="#" class="text-thm2">@Model.Employer.CompanyName</a></p>
                            <ul class="address_list">
                                <li class="list-inline-item"><a href="#"><span class="flaticon-location-pin"></span> @Model.Address.Street</a></li>
                                <li class="list-inline-item"><a href="#"><span class="flaticon-price"></span> @Model.MinPay.ToString("C") @(Model.MaxPay == 0 ? "" : $"- {Model.MaxPay:C}")</a></li>
                            </ul>
                        </div>
                        <div class="row job_meta_list mt30">
                            <div class="col-sm-4 col-lg-4"><a  class="btn btn-block btn-thm" asp-controller="Employer" asp-action="Application" asp-route-id="@Model.Id">Apply Now <span class="flaticon-right-arrow pl10"></span></a></div>
                            @* <div class="col-sm-4 col-lg-4"><button class="btn btn-block btn-gray"><span class="flaticon-favorites fz24 pr10"></span> Shortlist</button></div> *@
                           
                        </div>
                        <div class="row personer_information_company">
                            <div class="col-sm-6 col-lg-6">
                                <div class="icon text-thm"><span class="flaticon-money"></span></div>
                                <div class="details">
                                    <p>Offerd Salary</p>
                                    <p>@Model.MinPay.ToString("C") @(Model.MaxPay == 0 ? "" : $"- {Model.MaxPay:C}")</p>
                                </div>
                            </div>
                            @* <div class="col-sm-6 col-lg-6"> *@
                            @*     <div class="icon text-thm"><span class="flaticon-controls"></span></div> *@
                            @*     <div class="details"> *@
                            @*         <p>Career Level</p> *@
                            @*         <p>Executive</p> *@
                            @*     </div> *@
                            @* </div> *@
                            <div class="col-sm-6 col-lg-6">
                                <div class="icon text-thm"><span class="flaticon-mortarboard"></span></div>
                                <div class="details">
                                    <p>Years of Experience</p>
                                    <p>@Model.MinYearExperience @(Model.MaxYearExperience == 0 ? "" : $"- {Model.MaxYearExperience}")</p>
                                </div>
                            </div>
                            @* <div class="col-sm-6 col-lg-6"> *@
                            @*     <div class="icon text-thm"><span class="flaticon-gender"></span></div> *@
                            @*     <div class="details"> *@
                            @*         <p>Gender</p> *@
                            @*         <p>Female</p> *@
                            @*     </div> *@
                            @* </div> *@
                            <div class="col-sm-6 col-lg-6">
                                <div class="icon text-thm"><span class="flaticon-line-chart"></span></div>
                                <div class="details">
                                    <p>Industry</p>
                                    <p>@Model.Employer.Industry.Name</p>
                                </div>
                            </div>
                            @* <div class="col-sm-6 col-lg-6"> *@
                            @*     <div class="icon text-thm"><span class="flaticon-paper"></span></div> *@
                            @*     <div class="details"> *@
                            @*         <p>Qualification</p> *@
                            @*         <p>Bachelor Degree</p> *@
                            @*     </div> *@
                            @* </div> *@
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4">
                    <div class="candidate_personal_overview style3">
                        <div class="thumb">
                            <img class="img-fluid rounded" src="@Url.Action("GetMedia", "Employer", new {id = Model.EmployerId})" alt="@Model.Employer.CompanyName" width="119" height="80" asp-append-version="true">
                        </div>
                        <ul class="company_job_list mt30 mb30">
                            <li class="list-inline-item"><a class="mt25" href="#">View all jobs <span class="flaticon-right-arrow pl10"></span></a></li>
                            <li class="list-inline-item"><a class="mt25" href="#">Company Profile <span class="flaticon-right-arrow pl10"></span></a></li>
                        </ul>
                        <p class="mb0">@Model.Employer.Address.Street</p>
                        <p class="mb20">@Model.Employer.Address.City @Model.Employer.Address.ZipCode @Model.Employer.Address.State</p>
                        <p class="mb0">@user.PhoneNumber</p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="candidate_about_info style2 mt10">
                                <h4 class="fz20 mb30">Description</h4>

                                <p>--@Model.Description</p>

                                <h4 class="fz20 mb30">Responsibility</h4>

                                <p>--@Model.Responsibility</p>

                                <h4 class="fz20 mb30">BackGround</h4>

                                <p class="mb30">--@Model.Background</p>

                                <a class="btn btn-lg btn-thm mb15" asp-controller="Employer" asp-action="Application" asp-route-id="@Model.Id">Apply Now <span class="flaticon-right-arrow pl10"></span></a>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
