﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


<section class="our-log-reg bgc-fa mt40">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-lg-6">
                <div class="sign_up_form">
                    <div class="heading">
                        <h3 class="text-center">Create New Account</h3>
                        <p class="text-center">Already have an account? <a class="text-thm" asp-area="Identity" asp-page="/Account/Login">SignIn!</a></p>
                    </div>
                    <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" asp-page="./Register">Candidate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="./RegisterEmployer">Employer</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <partial name="_CandidateForm" model="Model" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // extend jquery range validator to work for required checkboxes
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            if (element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>
}
