﻿@model IEnumerable<Job>


<div class="row">
    @foreach (var job in Model)
    {
        <div class="col-sm-6 col-lg-6">
            <div class="fj_post home6">
                <a asp-action="JobOffer" asp-controller="Home" asp-route-id="@job.Id">
                <div class="details">
                    <div class="thumb fn-smd">
                        <img class="img-fluid" src="@Url.Action("GetMedia", "Employer", new {id = job.Employer.EmployerId})" alt="(@job.Title).jpg" width="120" height="122" asp-append-version="true">
                    </div>
                    <h5 class="job_chedule text-thm2 mt0">@job.Type.Type</h5>
                    <h4 class="mt0 pt0">@job.Title</h4>
                    <p class="text-thm4">@job.Employer.CompanyName</p>
                    <span class="flaticon-location-pin"></span> <strong >@job.Address.Street</strong>
                </div>
                </a>
            </div>
        </div>
    }
</div>