﻿@model IEnumerable<Application>
@{
    ViewData["Title"] = "AppliedJob";
    Layout = "~/Views/Shared/_CanAdminLayout.cshtml";
}

    <div class="col-lg-8 col-xl-9">
        <div class="row">
            @if (TempData["appMsg"] != null)
            {
                <div class="ui_kit_message_box">
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        @TempData["appMsg"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            }
            <div class="col-lg-12">
                <h4 class="fz18 mb30">Applied Jobs</h4>
            </div>
        </div>
        <div class="row applyed_job">
            @foreach (var appForm in Model)
            {
                <div class="col-sm-12 col-lg-12">
                    <div class="fj_post">
                        <div class="details">
                            <h5 class="job_chedule text-thm mt0">@appForm.Job.Type.Type</h5>
                            <div class="thumb fn-smd">
                                <img class="img-fluid" src="@Url.Action("GetMedia", "Employer", new {id = @appForm.Job.EmployerId})" alt="@(appForm.Job.Employer.CompanyName).jpg" width="120" height="122">
                            </div>
                            <h4>@appForm.Job.Title</h4>
                            <p>Posted @appForm.Audit.CreatedAt.ToString("D") by <a class="text-thm" href="#">@appForm.Job.Employer.CompanyName</a></p>
                            <ul class="featurej_post">
                                <li class="list-inline-item"><span class="flaticon-location-pin"></span> <a href="#">@appForm.Job.Employer.Address.Street</a></li>
                                <li class="list-inline-item"><span class="flaticon-price pl20"></span> <a href="#">@appForm.Job.MinPay.ToString("C") @(appForm.Job.MaxPay == 0 ? "" : $"- {appForm.Job.MaxPay:C}")</a></li>
                                
                                <li class="list-inline-item">
                                    <strong>Status:</strong> 
                                    @switch (appForm.Approve)
                                    {
                                        case true:
                                            <a href="#" class="text-success">Accepted</a>
                                            break;
                                        case false:
                                            <a href="#" class="text-danger">Rejected</a>
                                            break;
                                            default:

                                                <a href="#" class="text-info">Pending</a>
                                                break;
                                    }
                                               
                                            
                                        </li>
            
                                        </ul>
            
                                    </div>
            
                                    <ul class="view_edit_delete_list float-right">
                            @if (appForm.Approve != null)
                                            {
                                                if (appForm.Approve != false)
                                                {
                                    <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Approved"><span class="flaticon-trophy"></span></a></li>
                                }
                                else
                                {
                                    <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Rejected"><span class="flaticon-404"></span></a></li>
                                }

                            }
                            else
                            {
                                <li class="list-inline-item"><a asp-controller="Employer" asp-action="ReviewAppForm" asp-route-id="@appForm.Id" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"></span></a></li>
                               
                            }
                            <li class="list-inline-item"><a asp-controller="Home" asp-action="JobOffer" asp-route-id="@appForm.JobId" data-toggle="tooltip" data-placement="top" title="View"><span class="flaticon-eye"></span></a></li>
                           
                        </ul>
                    </div>
                </div>

            }
           
        </div>
    </div>

