﻿@model Recruitement_App___BEZAO_Test.Models.ViewModels.CandidateDetailViewModel
@{
    ViewData["Title"] = "Detail";
      Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<!-- Candidate Personal Info-->
<section class="mt70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-8">
                <div class="candidate_personal_info">
                    <div class="thumb">
                        <img class="rounded-circle" src="@Url.Action("GetMedia", "Candidate", new {id = @Model.IdentityUser.Id})" alt="@Model.Candidate.Fullname" width="150" height="150">
                       
                    </div>
                    <div class="details">
                        <h3>@Model.Candidate.Fullname </h3>
                        
                        <ul class="address_list">
                            <li class="list-inline-item"><a href="#">@Model.Candidate.Address.Street</a></li>
                           
                            <li class="list-inline-item"><a href="#">@Model.Candidate.Address.State</a></li>
                        </ul>
                        <ul class="review_list">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star-o"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

<!-- Candidate Personal Info Details-->
<section class="bgc-fa">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="candidate_about_info">
                            <h4 class="fz20 mb30">About Me</h4>
                            <p class="mb30">
                               - @Model.Candidate.Bio
                            </p>
                            
                        </div>
                    </div>
                   
                   
                </div>
            </div>
            <div class="col-xl-4">
                <div class="candidate_working_widget">

                    <div class="icon text-thm"><span class="flaticon-mail"></span></div>
                    <div class="details">
                        <h4>Email</h4>
                        <p>@Model.IdentityUser.Email</p>
                    </div>

                    <div class="icon text-thm"><span class="flaticon-telephone"></span></div>
                    <div class="details">
                        <h4>Phone</h4>
                        <p>@Model.IdentityUser.PhoneNumber</p>
                    </div>

                    <div class="icon text-thm"><span class="flaticon-old-age-man"></span></div>
                    <div class="details">
                        <h4>Age</h4>
                        <p>@((DateTime.Now.Year - Model.Candidate.DOB.Value.Year))</p>
                    </div>
                    <div class="icon text-thm"><span class="flaticon-paper"></span></div>
                    <div class="details">
                        <h4>Languages</h4>
                        <p>@Model.Candidate.Languages</p>
                    </div>
                    <div class="icon text-thm"><span class="flaticon-mortarboard"></span></div>
                    <div class="details">
                        <h4>Education</h4>
                        <p>@Model.Candidate.EducationLevel.Level</p>
                    </div>
                </div>
                <div class="candidate_social_widget">
                    <ul>
                        <li>Social Profiles</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
               
               
            </div>
        </div>
    </div>
</section>


